.checkmarkCircle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 0;
    stroke-miterlimit: 10;
    stroke: #ff000029;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    stroke-width: 7;
    stroke-linecap: round;
    stroke: #FF4F4F;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #ff000029;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s;
  }
  
  .checkmarkCheck {
    transform-origin: 50% 50%;
    stroke-dasharray: 29;
    stroke-dashoffset: 29;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes scale {
  
    0%,
    100% {
      transform: none;
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1);
    }
  }
  
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #ff000029;
    }
  }